<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mh.miner.entity.MinerRanking">
	<resultMap type="MinerRanking" id="minerRankingResult">
		<result column="user_id" property="userId" />
		<result column="mh_name" property="mhName" />
		<result column="amulet_count" property="amuletCount" />
		<result column="comment" property="comment" />
	</resultMap>
	<select id="countMinerTotal" resultType="int">
		SELECT
			COUNT(*)
		FROM
			t_user
		WHERE
			publish = true
    </select>
	<select id="countRankingTotal" resultType="int">
			SELECT
				COUNT(*)
			FROM
				t_user a
			JOIN (
				SELECT c.id, COUNT(d.checked) AS amulet_count
				FROM
					t_user c
				JOIN
					t_status d
				ON
					( c.id = d.user_id)
				WHERE
					c.publish = true
					AND d.checked = true
				GROUP BY
					c.id
			) b
			ON
				(a.id = b.id)
    </select>
	<select id="countRanking" parameterType="MinerRankingSearchParam"
		resultType="int">
			SELECT
				COUNT(*)
			FROM
				t_user a
			JOIN (
				SELECT c.id, COUNT(d.checked) AS amulet_count
				FROM
					t_user c
				JOIN
					t_status d
				ON
					( c.id = d.user_id)
				WHERE
					c.publish = true
					AND d.checked = true
				GROUP BY
					c.id
			) b
			ON
				(a.id = b.id)
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="keyword != null and keyword != ''">
					OR a.mh_name LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyword != null and keyword != ''">
					OR a.comment LIKE '%' || #{keyword} || '%'
				</if>
			</trim>
    </select>
	<select id="selectRanking" parameterType="MinerRankingSearchParam"
		resultType="MinerRanking" resultMap="minerRankingResult">
			SELECT
				a.id AS user_id, a.mh_name, a.comment,
				b.amulet_count
			FROM
				t_user a
			JOIN (
				SELECT c.id, COUNT(d.checked) AS amulet_count
				FROM
					t_user c
				JOIN
					t_status d
				ON
					( c.id = d.user_id)
				WHERE
					c.publish = true
					AND d.checked = true
				GROUP BY
					c.id
			) b
			ON
				(a.id = b.id)
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="keyword != null and keyword != ''">
					OR a.mh_name LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyword != null and keyword != ''">
					OR a.comment LIKE '%' || #{keyword} || '%'
				</if>
			</trim>
			ORDER BY
				b.amulet_count DESC,
				a.mh_name
			<if test="pageSize > 0">
				LIMIT #{pageSize}
			</if>
			<if test="offset > 0">
				OFFSET #{offset}
			</if>
    </select>
</mapper>
