tomcat.dir=C:/Development/apache-tomcat
tomcat.webapp.context.path=/mhp3-miner-ranking
tomcat.manager.url=http://localhost:8080/manager/text
tomcat.manager.username=tomcat
tomcat.manager.password=tomcat
