<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mh.miner.service.MiningStatus">
  <resultMap type="MiningStatus" id="miningStatusResult">
    <result column="checked" property="checked" />
    <result column="amulet_id" property="amuletId" />
    <result column="amulet_seed" property="amuletSeed" />
    <result column="mine_name" property="mineName" />
    <result column="skill1_name" property="skill1Name" />
    <result column="skill1_point" property="skill1Point" />
    <result column="skill2_name" property="skill2Name" />
    <result column="skill2_point" property="skill2Point" />
    <result column="slot_num" property="slotNum" />
    <result column="amulet_level" property="amuletLevel" />
    <result column="amulet_type" property="amuletType" />
  </resultMap>
  <select id="countStatus" parameterType="MiningStatusSearchParam" resultType="int">
    SELECT
      COUNT(*)
    FROM
      t_status a
    JOIN
      m_amulet b
    ON
      ( a.amulet_id = b.id )
    LEFT OUTER JOIN
      m_skill c
    ON
      ( b.skill_id1 = c.id )
    LEFT OUTER JOIN
      m_skill d
    ON
      ( b.skill_id2 = d.id )
    JOIN
      m_mine e
    ON
      ( b.mine_id = e.id )
    JOIN
      m_amulet_level f
    ON
      ( b.level_id = f.id )
    JOIN
      m_amulet_type g
    ON
      ( b.type_id = g.id )
    <where>
      <if test="tUser != null and tUser.id != null and tUser.id != ''">
        AND a.user_id = #{tUser.id}
      </if>
      <if test="mMine != null and mMine.id != null and mMine.id != ''">
        AND e.id = #{mMine.id}
      </if>
    </where>
  </select>
  <select id="selectStatus" parameterType="MiningStatusSearchParam" resultType="MiningStatus" resultMap="miningStatusResult">
    SELECT
      a.checked, a.amulet_id,
      b.name as amulet_name, b.seed as amulet_seed, b.slot_num as slot_num,
      c.name as skill1_name, c.point as skill1_point,
      d.name as skill2_name, d.point as skill2_point,
      e.name as mine_name,
      f.name as amulet_level,
      g.name as amulet_type
    FROM
      t_status a
    JOIN
      m_amulet b
    ON
      ( a.amulet_id = b.id )
    LEFT OUTER JOIN
      m_skill c
    ON
      ( b.skill_id1 = c.id )
    LEFT OUTER JOIN
      m_skill d
    ON
      ( b.skill_id2 = d.id )
    JOIN
      m_mine e
    ON
      ( b.mine_id = e.id )
    JOIN
      m_amulet_level f
    ON
      ( b.level_id = f.id )
    JOIN
      m_amulet_type g
    ON
      ( b.type_id = g.id )
    <where>
      <if test="tUser != null and tUser.id != null and tUser.id != ''">
        AND a.user_id = #{tUser.id}
      </if>
      <if test="mMine != null and mMine.id != null and mMine.id != ''">
        AND e.id = #{mMine.id}
      </if>
    </where>
    <if test="sortOrders != null and sortOrders.size() > 0">
      <foreach item="order" collection="sortOrders" open="ORDER BY" close="" separator=",">
        ${order.column} ${order.type}
      </foreach>
    </if>
    <if test="pageSize > 0">
      LIMIT #{pageSize}
    </if>
    <if test="offset > 0">
      OFFSET #{offset}
    </if>
  </select>
</mapper>
