.title {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.status {
	float: right;
	padding-right: 5px;
	margin-top: 5px;
	vertical-align: middle;
}

.num_column {
	width: 10%;
}

.mhname_column {
	width: 20%;
}

.amuletcount_column {
	width: 10%;
}

.comment_column {
	width: 100%;
}
